<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory> <!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/mobilestore</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property> <!-- JDBC connection pool (use the built-in) -->
		<property name="connection_pool_size">true</property> <!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property> <!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> <!-- Echo all executed SQL to stdout -->
		<property name="show_sql">1</property> <!-- Drop and re-create the database schema on startup -->
		<property name="hibernate.hbm2ddl.auto">create-drop</property> <!-- Names the annotated entity class -->
		
		<mapping class="com.univercellmobiles.app.beans.AccessoryStock" />
		<!-- 
		<mapping class="com.univercellmobiles.app.beans.AccModel" />
		<mapping class="com.univercellmobiles.app.beans.Brand" />
		<mapping class="com.univercellmobiles.app.beans.Customer" />
		<mapping class="com.univercellmobiles.app.beans.Distributor" />
		<mapping class="com.univercellmobiles.app.beans.Invoice" />
		<mapping class="com.univercellmobiles.app.beans.PhoneModel" />
		<mapping class="com.univercellmobiles.app.beans.PhoneStock" />
		<mapping class="com.univercellmobiles.app.beans.Sales" /-->
	</session-factory>
</hibernate-configuration>


<!-- hibernate-configuration> <session-factory> <property name="connection.driver_class">com.mysql.jdbc.Driver</property> 
	<property name="connection.url">jdbc:mysql://localhost:3306/mobilestore</property> 
	<property name="connection.username">root</property> <property name="connection.password"></property> 
	<property name="connection.pool_size">1</property> <property name="dialect">org.hibernate.dialect.MySQLDialect</property> 
	<property name="hibernate.hbm2ddl.auto">create-drop</property> <property 
	name="current_session_context_class">thread</property> <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> 
	<property name="show_sql">true</property> <property name="hbm2ddl.auto">validate</property> 
	<mapping class="com.univercellmobiles.app.beans.AccessoryStock" /> <mapping 
	class="com.univercellmobiles.app.beans.AccModel" /> <mapping class="com.univercellmobiles.app.beans.Brand" 
	/> <mapping class="com.univercellmobiles.app.beans.Customer" /> <mapping 
	class="com.univercellmobiles.app.beans.Distributor" /> <mapping class="com.univercellmobiles.app.beans.Invoice" 
	/> <mapping class="com.univercellmobiles.app.beans.PhoneModel" /> <mapping 
	class="com.univercellmobiles.app.beans.PhoneStock" /> <mapping class="com.univercellmobiles.app.beans.Sales" 
	/> </session-factory> </hibernate-configuration -->
